DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/market_analyzer
CORS_ORIGINS='["http://localhost:5173", "http://127.0.0.1:5173"]' # Для разработки
#CORS_ORIGINS='["https://lermak.dns.navy", "http://lermak.dns.navy"]' # Для продакшена
#HTTP_PROXY="http://localhost:2080" # Прокси для нейросети

# Настройки эмбеддингов
EMBEDDING_API_KEY=change_me
EMBEDDING_API_BASE_URL=https://openrouter.ai/api/v1
EMBEDDING_MODEL=qwen/qwen3-embedding-8b
EMBEDDING_DIMENSION=4096