DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/market_analyzer
CORS_ORIGINS='["http://localhost:5173", "http://127.0.0.1:5173"]' # Для разработки
#CORS_ORIGINS='["https://lermak.dns.navy", "http://lermak.dns.navy"]' # Для продакшена
#HTTP_PROXY="http://localhost:2080" # Прокси для нейросети