# API Settings
BASE_URL=http://localhost:8000 # Для разработки
#BASE_URL=https://lermak.dns.navy/api # Для продакшена

# Browser Settings
# Название окна браузера для поиска через pygetwindow
BROWSER_WINDOW_TITLE=Google Chrome